/postgresql/gln_pg_initdb/*.sql
/db-more/
/.env
/more

/var/html/web/modules/contrib
/var/html/web/themes/contrib
/var/html/web/themes/custom/*/css/*.css.map
/var/html/web/themes/custom/*/.sass-cache
/var/html/web/themes/custom/*/*/node_modules

/var/html/web/sites/default/files/*
!/var/html/web/sites/default/files/.htaccess
/var/html/translations/*.po

/var/html/web/sites/settings.local.php
/var/html/web/sites/dev.settings.local.php

/**/.DS_Store